body {
background-color: #191414
}

 
.screen1 h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 70px;
    color: #1DB954;
    position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 4%;
        text-align: center;
        
        
}

.screen1 #startGame {
    border-color: #1DB954;
    background-color: #191414;
    position: absolute;
    z-index: 999;
    margin: 0px auto;
    right: 0;
    top: 38%;
    left: 1%;
    width: 20%;
    text-align: center;
    
}

#startGame:hover {
    background-color:  #1DB954;
    border-color: #191414;
}

.cassette {
    border-radius: 15px;
    width: 80%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: 172px;


}

.screen2 {
    
    display: none;
    animation: fade-out 5s ease-out 1 normal both;
    
   
}

@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

#genre {
    background-color:#191414;
    display: flex;
    justify-content: center;
}

#genreCardBody{
    background-color:#191414;
    padding: 6.25rem;
}

.fas {
    color:#1DB954;
    font-size: 400px;
}
.randomGen {
    color: #FFFFFF;
    font-family: 'Secular One', sans-serif;
    font-size: 45px;
    position: relative;
    top: -385px;
    left: 126px;
    transform: rotate(-17deg);
}

.screen3 {
    display: none;
}
#round1Challenge{
    width: 150%;
    height: 900px;
    max-width: 100%;
    margin-top: 26%;
    margin-left: 0%;
}
#roundHeader {
    background-color: #FFFFFF;
    color: #191414;
}
#roundBody {
    background-color: #1DB954;
    color: #191414;
    
}
.choiceBttns {
    background-color: #191414;
    color: #FFFFFF;
    margin-top: 10px;
    border-color: #FFFFFF;
    
}
.choiceBttns:hover {
    background-color: #FFFFFF;
    color: #191414;
    border-color: #191414;
}
#answerBox{
    width: 90%;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #191414;
    color: #FFFFFF;
    margin-top: 10px;
    border-color: #FFFFFF;
    box-shadow: #FFFFFF;
}

/* .correctButton {
    background-color: #191414;
    color: #1DB954;
    border-color: #1DB954;
}

.incorrectButton {
    background-color: #191414;
    color: red;
    border-color: red;
} */